.offers{
    width: 65%;
   height: 65vh;
    display: flex;
    margin: auto;
    margin-top: 200px;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 34%, rgba(247, 109, 247, 1) 100%)
    
}

.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1{
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}

.offers-left p{
    color: #171717;
    font-size: 18px;
    font-weight: 600;
}

.offers-left button{
    width: 240px;
    height: 50px;
    border-radius: 35px;
    background: red;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.offers-right img{
    height: 300px;
}

